@import '../../styles/variables.scss';

.mainList{
  margin-top: 45px;
  .mainListOne{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mainListTwo{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .text{
    font-family: $font-title;
    // color: $color-title; 이야기 후 수정
    left: 50px;
    font-size: 30px;
  }
  
  .button{
    font-family: $font-main;
    font-size: 12px;
    cursor:pointer; z-index: 1;
    // color: blue;
    cursor:pointer; 
    z-index: 1;
  }
 }

