@import '../../../../styles/variables.scss';

.productItem {
  margin: 20px;
  text-align: center;
  cursor: pointer;
  width: 300px;
  display: flex;
  flex-direction: column;
  .productImg {
    object-fit: contain;
    height: 250px;
  }

  .productContent {
    @include fontSet;
    font-size: 12px;
    font-weight: 500;

    .price {
      margin-top: 10px;
    }
  }
}
