@import '../../../styles/variables.scss';

.oneHead{
  display: flex;
  justify-content: center;
  align-items: center;
  .juiceHead{
    margin-right: 45px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fruitHead{
    margin-right: 45px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.twoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .goodsHead{
    margin-right: 45px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .giftHead{
    margin-right: 45px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mainJuiceList{
  display: flex;
  justify-content: center;
  align-items: center;
  .juice{
    .juiceImg{
      width: 130px;
      height: 130px;
    }
    .juiceText{
      font-family: $font-main;
      color: $color-navy;
      text-align: center;
      font-size: 15px;
    }
  }
}
