@import '../../../../styles/variables.scss';

.MainList {
  margin-top: 50px;
}
.productTitle {
  margin-left: 300px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: $font-main;
}
.MainProductList {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .List {
    display: flex;
    flex-direction: column;

    .productImg {
      width: 150px;
      height: 150px;
    }

    .productText {
      font-family: $font-main;
      text-align: center;
      // color:
    }
  }
}
