@import '../../styles/variables.scss';

.aside {
  position: fixed;
  left: 50px;
  top: 80px;

  .asideTitle {
    cursor: pointer;

    .titleLogo {
      margin-bottom: 15px;
      width: 100px;
    }

    .titleName {
      font-size: 23px;
      font-family: $font-sebang;
      letter-spacing: 5px;
      color: $color-title;
    }
  }
}
