.contentsText {
  width: 250px;
  height: 150px;
  border: 1px solid#c9c9c9;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f1f3f5;
  }
  .englishText {
    margin: 40px;
    font-weight: bold;
    font-size: 14px;
  }

  .koreanText {
    font-size: 11px;
  }
}
