@import '../../styles/variables.scss';

.header {
  .nav {
    position: fixed;
    right: 0;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: $color-navy;
  }

  .navTitle {
    margin-right: 95px;

    .title {
      font-weight: bolder;
      font-size: 19px;
    }

    .subTitle {
      padding-top: 3px;
      font-family: $font-main;
      font-size: 11px;
    }
  }

  .navMenu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-family: $font-main;
    font-size: 12px;

    .navList:not(.navWall) {
      margin: 0 8px;
      cursor: pointer;
    }
    .navWall {
      width: 1px;
      height: 8px;
      background-color: $color-navy;
    }
  }
}
