@import '../../styles/variables.scss';

.footer {
  margin-top: 100px;
  width: 100%;
  padding: 20px 10px 0px;
  bottom: 0px;
  color: #243b5f;
  font-size: 11px;
  .widthFooter {
    display: inline-block;
    width: 100%;
    ul {
      width: 100%;
      line-height: 2em;
      margin: 10px 0px 15px;
      padding-left: 0px;
      .icons {
        font-size: 8px;
      }
    }
    .address {
      padding-bottom: 30px;

      .textBox {
        text-align: center;
        color: red;
        width: 27px;
        height: 23px;
        border: 1px solid;
        border-radius: 50%;
        font-size: $font-size-default;
      }
    }
    li {
      display: inline-block;
      margin: 0px 5% 15px 0px;
    }
  }
}
.lastText {
  font-family: $font-title;
}
