@import '../../styles/variables.scss';
 
 .modal {
   background-color: rgba(49,49,49,0.8);
   justify-content:center; 
   align-items:center;     
   position:fixed;      
   top:0;
   left:0;
   right:0;
   bottom:0;
   z-index: 110; 
   visibility: visible;
   transition: all 0.3s;
   .modalCloseButtonBox{
     display: flex;
     justify-content: flex-end;            
    .modalCloseButton{
      font-size: 30px;
      color:#fff;
    }
  }
    .modalBox{
     
     position: absolute;
      // top: 20%;
     left:34.3%;
     border-radius: 10px;
    
  width: 350px;
height: 350px;
   .modalListImg{
  width: 350px;
  height:350px;
}
.modalBoxText{
    background-color: rgba(49,49,49,0.2);
    position: relative;
    text-align: left;
    width: 100%;
    line-height: 1.6em;
    font-size: 15px;
    color: #fff;
   .modalEmail{
    display: flex;
    justify-content: space-between;
    font-family: $font-main;
    font-size: 12px;
    text-align: left;
 }
   .modalContent{
    font-family: $font-main;
    font-size: 17px;
   text-align: left;
 }
}
    }
 }
