@import '../../styles/variables.scss';

.teamMember{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: $color-background;
}
.teamMemberList{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10px;
  
.teamMemberListImg{
  // z-index: 100;
}  


}

.teamMemberImg{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
