@import '../../../styles/variables.scss';


.mainFruitList{
  display: flex;
  justify-content: center;
  align-items: center;
  .fruit{
    .fruitImg{
      width: 130px;
      height: 130px;
    }
    .fruitText{
      text-align: center;
      font-family: $font-main;
      color: $color-navy;
    }
  }
}