@import '../../../styles/variables.scss';

.mainGiftList{
  display: flex;
  justify-content: center;
  align-items: center;
  .gift{
    .giftImg{
      width: 130px;
      height: 130px;
    }
    .giftText{
      font-family: $font-main;
      color: $color-navy;
      text-align: center;
      font-size: 15px;
    }
  }
}